.dashboard-container {
    padding: 20px;
}

.header{
    display: flex;
    gap: 77rem;
}
.dashboard-table {
    width: 100%;
    margin-top: 20px;
  }
  
  .mat-paginator {
    justify-content: center;
    margin-top: 20px;
  }
  
  .mat-paginator-page-size {
    color: #fff;
  }
  
  .mat-paginator-range-label {
    color: #fff;
  }
  
  .mat-paginator-page-size-label {
    color: #fff;
  }


table {
    border-collapse: collapse;
    width: 100%;
  
    th, td {
      padding: 8px;
      text-align: center;
      border: 1px solid #ddd;
    }
  
    th {
      background-color: #3f51b5;
      color: #ddd;
    }
  
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  
    tr:hover {
      background-color: #ddd;
    }
  }
  